* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
	padding: 0px;
	background: white;
	font-family: 'Raleway', sans-serif;
	font-size: 11pt;
	color: #000000;
}
/* HEADER */

#Home {
    background-color: #180E0B;
    height: 70px;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    width: 60px;
    position: relative;
    margin-left: 50px;
    margin-top: 4px;
}

.navegar {
    position: relative;
    display: inline;
    top: 25px;
    right: 5px;
    font-weight: 200; 
    font-size: 18px;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: white;
}

#destino {
    background: #56c9d6;
	border-radius: 5px;
	
}

/* VIDEO HEADER */

iframe {
    width: 100%;
    height: 750px;
}

/* DESTINOS */

.destinos {
    background-color: white;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
}

.destinos > article {
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.destinos > article > h3 {
    text-align: center;
    font-size: 27px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.destinos > article > p {
    font-size: 15px;
    }

/* SOBRE NOS*/

#Sobre {
    background-color: #372019;
    position: relative;
    height: 500px;
    color: #8c5240;
    display: flex;
    align-items: center;
    }

#Sobre > .divsobre {
    position: relative;
    text-align: center;
    max-width: 25%;
}



#Sobre > .divsobre2 {
    
    position: relative;
    width: 50%;
    text-align: center;
}

/* CONTATO */

.contato {
    background-color: #261611;
    color: #bc765f;
    position: relative;
    display: flex;
    height: 250px;
}

.contatodiv {
    font-size: 13px;
}

.contatodiv > header {
    font-size: 27px;
} 
.contatodiv2 {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}

.contatodiv2 > header {
    font-size: 27px;
}

.nolist {
    text-decoration: none;
} 
